<p>employee-details works!</p>
<div class="card">
    <h5 class="card-header">Employee Details</h5>
    <div class="card-body">
        <h5 class="card-title">Details of {{employeeDetail.name}}</h5>
        <table class="table" style="text-align:left;">
            <tr>
                <td>Id</td>
                <td>{{employeeDetail.id}}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{employeeDetail.name}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{employeeDetail.email}}</td>
            </tr>
            <tr>
                <td>Salary</td>
                <td>{{employeeDetail.salary}}</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>{{employeeDetail.password}}</td>
            </tr>
            
            
            
            <!--
                <td>
                    <button type="post" class="btn btn-primary" (click) = employeeService.deleteEmployee(employeeDetail.id)>Delete Employee</button>
                </td>
            -->
                <td>
                    <a [routerLink]="['/employee/edit/', employeeDetail.id]">Edit</a>
                </td>
            
        </table>
        <app-employee-delete></app-employee-delete>
    </div>
</div>