<p>data-binding works!</p>
<h1 [ngClass] = '{redBorder:true}'>Welcome to data binding</h1>
            <p [ngStyle] = "{color: 'green'}"> This is also Style</p>
            <hr/> Custome property binding<br/>
            <app-property-binding [result] = '2000'></app-property-binding>
<h3>Event Binding</h3>
<button (click) = "sayHello()">Click here</button>

<!-- [] property binding
     () event binding
-->
<h3>Custom Event Binding</h3>
<app-event-binding (clickable) = "parentEvent($event)"> </app-event-binding>

<app-lifecycle *ngIf="!delete" [bindable] = "boundValue">
     <p>in the lifecycle component</p>
     <!-- to be passed into the component
          <ng-content> will pass the value
     -->
     <p>{{test}}</p>
</app-lifecycle>

<button (click) = 'delete=true'>Click to Delete</button>
<button (click) = "test= 'Changed value'">Click to change the value</button>
<button (click) = 'boundValue=500'>Click to change the binding</button>