<p>customer works!</p>
<h1>{{message}}</h1>
<h2>{{customerObj.code}}</h2>
<h2>{{customerObj.name}}</h2>
<h2>{{customerObj.amount}}</h2>

<h3>Customer code {{CustObj.CCode}}</h3>
<h3>Customer name {{CustObj.CName}}</h3>
<h3>Customer amount {{CustObj.CAmount}}</h3>

<h2>Data Binding One way data binding: Model to View</h2>
<p>We created varible in model class, we are displaying value of variable in html file
    if you want to change, you have to change in the model class
</p>
<p>Customer Code<input type="text" name="CustomerCode" value="{{CustObj.CCode}}"/></p>
<p>Customer Name<input type="text" name="CustomerName" value="{{CustObj.CName}}"/></p>
<p>Customer Amount<input type="text" name="CustomerAmount" value="{{CustObj.CAmount}}"/></p>
<p>Another one way binding Preferred</p>
<p>Customer Code<input type="text" name="CustomerCode" [value]="CustObj.CCode"/></p>
<p>Customer Name<input type="text" name="CustomerName" [value]="CustObj.CName"/></p>
<p>Customer Amount<input type="text" name="CustomerAmount" [value]="CustObj.CAmount"/></p>

<h2>Data Binding Two way data binding: Model to View, and View to Model</h2>
<p>Customer Code<input type="text" name="CustomerCode" [(ngModel)]="CustObj.CCode"/></p>
<p>Customer Name<input type="text" name="CustomerName" [(ngModel)]="CustObj.CName"/></p>
<p>Customer Amount<input type="text" name="CustomerAmount" [(ngModel)]="CustObj.CAmount"/></p>

<p>{{homeComponent.x}}</p>

<p>Username<input type="text" name="username" [(ngModel)]="userDetails.userName"/></p>
<p>Password<input type="text" name="password" [(ngModel)]="userDetails.password"/></p>
<p>{{this.status}}</p>
<input type="button" value="Click Me" (click)="loginMe()"/>